.product-list-container {
    padding: 20px;
    text-align: center;
  }
  
  .filters {
    margin-bottom: 20px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-card {
    width: 200px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .error {
    color: red;
  }
  